@page
@model FoodWeb.Pages.Admin.AddChefModel
@{
}
<div class="row justify-content-center">
    <div class="col-md-6 justify-content-center">
        <h1>Add Chefs</h1>
        <hr />
        <form method="post" enctype="multipart/form-data">
            <div>
                <label class="form-label">
                    Name
                </label>
                <input class="form-control" asp-for="chef.Name" />
            </div>
            <div>
                <label class="form-label">
                    Designation
                </label>
                <input class="form-control" asp-for="chef.Designation" />
            </div>
            <div>
                <label class="form-label">
                    Description
                </label>
                <input class="form-control" asp-for="chef.Desc" />
            </div>
            <div>

                <label class="form-label">
                    Image
                </label>
                <input class="form-control" asp-for="chef.Photo" />
            </div>
            <br />
            <div>
                <input type="submit" value="Add Chef" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
