@page
@model FoodWeb.Pages.Admin.TestimonialModel
@{
}
<div class="row justify-content-center">
    <div class="col-md-6 justify-content-center">
        <h1>Add Testimonial</h1>
        <hr />
        <form method="post" enctype="multipart/form-data">
            <div>
                <label class="form-label">
                    Name
                </label>
                <input class="form-control" asp-for="testimonial.Name" />
            </div>
            <div>
                <label class="form-label">
                    Review
                </label>
                <input class="form-control" asp-for="testimonial.Review" />
            </div>
            <div>
                <label class="form-label">
                    Designation
                </label>
                <input class="form-control" asp-for="testimonial.Designation" />
            </div>
            <div>

                <label class="form-label">
                    Image
                </label>
                <input class="form-control" asp-for="testimonial.Photo" />
            </div>
            <br />
            <div>
                <input type="submit" value="Add Testimonial" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>